* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e81b0;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 15px;
    background-color: white;
}

.blue {
    background-color: #33A3FF;
}

.purple {
    background-color: #7209b7;
}

.orange {
    background-color: #fca311;
}

.lime {
    background-color: #99d98c;
}

.green {
    background-color: #8ac926;
}

.bottom_padding {
    padding-bottom: 20px;
}

.inline {
    display: inline;
}

#logo {
    vertical-align: middle;
}

#logo_title {
    font-size: 40px;
    vertical-align: middle;
}

.container {
    background-color: white;
    width: 50%;
    margin: 40px auto;
    border-radius: 5px;
}

.btn_container {
    padding-top: 10px;
    padding-bottom: 6px;
}

.left_margin {
    margin-left: 30px;
}

.btn {
    padding: 7px;
    border-radius: 5px;
    border-width: 1px;
}

.btn-blue {
    background-color: #33A3FF;
    border-color: #33A3FF;
}

.btn-transparent {
    background-color: transparent;
    border-color: #E9E9E9;
    border-width: 2px;
    outline: none;
}

.task_container {
    margin-top: 15px;
}

.checkmark::before {
    content: '\2714';
}

.completed::before {
    content: '\2714';
}

.completed {
    border: 1px solid green;
}

.not_completed::before {
    content: '\2716';
}

.not_completed {
    border: 1px solid red;
}

.task {
    line-height: 22px;
    margin-top: 15px;
}

.icon {
    border-radius: 50%; 
    display: inline-block;
    text-align: center;
    width: 22px;
    height: 22px;
}

.tag {
    font-size: 11px;
    color: white;
    padding: 7px;
    border-radius: 28px;
}

